//Navigation horizontale secondaire, responsive pour mobile

aside.navPicto{
     ul.horizontal-nav {
        @include horizontal-list;
        li {
            padding: 0;
            @include span-columns(1);
            img{@include adaptable-img;}
            a {
                // vertical alignment
                margin: 0 em(1px);
                border: 0;
                font-family: $AristaFont;
                color: $gris-anthracite;
                text-decoration: none;
                display: block;
                @include adjust-font-size-to(20px);
                &:hover {
                    color: $orange-fonce;


                }
            }
        }
    }
}