 
//

//*Réglage de la grille de Bourbon Neat

$grid-columns:12;            // nombre de colonnes de la grille de base,default: 12
$max-width: em(990);//largeur de colonne,default: em(1088)
$column: em(90); //default
$gutter: em(30); //default

//Affichage de la grille pour le dev
$visual-grid:true;

//Réglage du nombre de colonnes pour breakpoint() mixin 
// qui simplifie les media-queries
//http://stackoverflow.com/questions/15805750/breakpoints-using-bourbon-neat-grid
$mobile-size:em(320);
$tablet-size:em(720);
$desktop-size:em(1000);
//$largedesktop-size:em(1050);

// Bourbon Neat Breakpoints - règle le nombre de colonnes
$mobile: new-breakpoint(min-width $mobile-size 4);
$tablet: new-breakpoint(min-width $tablet-size 8);
$desktop: new-breakpoint(min-width $desktop-size 12);
//$largedesktop: new-breakpoint(min-width $largedesktop-size 16);


/*¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
----- VARIABLES PROVENCE FORMATION -----
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/


/*-------- Couleurs charte graphique PF ----*/
$vert : #ADC91F;
$violet: #911381;
$orange : #F29400;
$orange-fonce: #DE603A;
$bleu-turquoise: #01ABCF;
$rouge : #E3001C;
$rose-fushia : #E30078;
$jaune : #FAEB0C;
$gris-clair: #ECECED;
$gris-clair-moyen : #9898a6;
$gris-anthracite : #606070;
$noir: #000000;

// Ici paramétrer les couleurs pour l'annonce défilante
$color-defilant:#606070;
$color-defilant-a:#E3001C;

/*¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
----- FONCTIONS PROVENCE FORMATION -----
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/

// Create em() for setting font-sizes in pixels.
@function em($target, $context: $base-font-size) {
@if $target == 0 { @return 0 }
@return $target / $context + 0em;
}

/* ==============================
  Mixins custom PROVENCE FORMATION
=================================*/



/*-------- IMAGES ADAPTABLES -----------*/
@mixin adaptable-img {
    max-width: 100%;
}