/*-------------------------------------|
|       HEADER DU SITE                 |
|--------------------------------------*/

// Layout du header et de ses parties haute et basse (logique mobile first)
 //Imbrication à 100% (full nested)
#header {
    @include breakpoint ($mobile){
     .headHaut {
                .logoHead {  @include span-columns(4);
                img{margin: 0 auto;display: block;}
                }
                .menuImg {  @include span-columns(4);}
     }
     .headBas {@include span-columns(4);
                
               .site-slogan{@include span-columns(4);}
               .headSearch{@include span-columns(4);}
               .menuHead{@include span-columns(4);}
     }                
  }
  @include breakpoint($desktop) {/*    //Dimensions pour les pc - 1000px*/
      .headHaut {
          @include span-columns(12);
          .logoHead { @include span-columns(4 of 12);}
          .menuImg {  @include span-columns(8 of 12);@include omega();}
      }
      .headBas {
          @include span-columns(12);
          .site-slogan{@include span-columns(4 of 12);@include shift(0.3);}
          .headSearch{@include span-columns(7 of 12);@include omega();}
          .menuHead{@include span-columns(12);}
      } 
  }
@include breakpoint($tablet) {/*     //Dimensions pour les tablettes*/}
 }


 //Pour le dev, code visuel sur les blocs selon le breakpoint
// à commenter ou supprimer pour la production
 
#header {
    @include breakpoint ($mobile){
        .headHaut {
            .logoHead { }
            .menuImg { background: darkorange; }
        }
        .headBas {@include span-columns(4);background: red;
                  .site-slogan{}
                  .headSearch{}
                  .menuHead{}
        }                
    }
    @include breakpoint($desktop) {/*    //Dimensions pour les pc*/

        .headHaut {
            .logoHead {
            }
            .menuImg { 
                background: #FFCCFF; }
        }
        .headBas {
            background: #00CC99;
            .site-slogan{           }
            .headSearch{            }
            .menuHead{}
        }                
    }
}


/*---- STYLE HEADER ----*/
 
#header {
    @include breakpoint ($mobile){
        .headHaut {
            .logoHead { img {@include adaptable-img;}
            }
            .menuImg {  }
        }
        .headBas {
            .site-slogan{}
            .headSearch{}
            .menuHead{}
        }                
    }
    @include breakpoint($desktop) {/*    //Dimensions pour les pc*/
        .headHaut {
            .logoHead {img {@include adaptable-img;}
            }
            .menuImg { 
            }
        }
        .headBas {
            //background: $rose-fushia;//Modifier la couleur du fond de la partie basse selon couleur du lycée
            margin: em(5) 0 0 0;
            background: #cfd0d2 image-url ("bg_menu_rp.gif") repeat-x top left;
            .site-slogan{           }
            .headSearch{text-align: right;
                        margin: em(2) 0 0 0;
                        background: image-url ("bg_recherche.gif") no-repeat left em(5);       
            }
            .menuHead{}
        }                
    }
}




.navPicto {
    border: 0;

    td {
        border: 0;
        padding: em(5);
    }  
}


/*Menu principal haut du header*/

.menuHead {
  float: none;
  height: auto;
  padding: 0;
  
}


.search {
 
  padding: 0 em(3) 0 0;
}

.name-and-slogan {

  vertical-align: bottom;
  
}

.site-name {
  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  padding: em(160) 0 0 em(10);
  margin: 0;
}

.site-slogan {
  color: white;
  padding: em(3) 0 0 em(4);
 
  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
}

/*FIN CSS HEADER*/
/*****************/