/*-------------------------------------|
|       STYLE DES VIEWS                |
|par AJOUT ou OVERRIDE des classes/IDs |
|--------------------------------------*/


//Vue diaporama homepage
// Classe ajoutée dans views sur le champ image à afficher
.vue-diapo-hp-img{
    @include span-columns($mobile);
    img{@include adaptable-img;}
}
#views_slideshow_singleframe_main_diaporama_homepage-block_1{
    padding: 0;
}
#views_slideshow_singleframe_teaser_section_diaporama_homepage-block_1{
    position: relative;
    z-index:1;
}