/* $Id: maintenance.css,v 1.1 2007/11/30 12:19:10 goba Exp $ */

/* Update styles */
#update-results {
  margin-top: 3em;
  padding: 0.25em;
  border: 1px solid #ccc;
  background: #eee;
  font-size: smaller;
}
#update-results h2 {
  margin-top: 0.25em;
}
#update-results h4 {
  margin-bottom: 0.25em;
}
#update-results li.none {
  color: #888;
  font-style: italic;
}
#update-results li.failure strong {
  color: #b63300;
}
/*STYLE MAINTENANCE OFFLINE*/
#name-and-slogan-offline, #site-slogan-offline{
     background: #ADC91F;
    color: #606070;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border-radius: 5px;
}
#contentPage-offline{

	margin:0 auto;
	padding:0;
	width: 990px;
	background-color:white;

}
#footer-offline{
    margin:0 auto;
	padding:5px 0;
	width:980px;
	background: white url(../images/bg_footer.jpg) no-repeat bottom right;
	text-align: left;
	color: #9898a6;
        height:50px;
        font-size: 11px;
}
/*STYLE MAINTENANCE */
#name-and-slogan-maintenance, #site-slogan-maintenance{
    background: #ADC91F;
    color: #606070;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border-radius: 5px;
}
#site-name-maintenance{
    margin: 0;
    padding: 15px;
}
#contentPage-maintenance{

	margin:0 auto;
	padding:10px 0;
	width: 990px;
	background-color:white;
        text-align: center;

}
#middle-content-maintenance{
    margin: 0 auto;
    width: 900px;
    display: block;
     background: transparent url(../images/zebra-gros-clair.gif) repeat top left;
     padding: 15px 0;
}
#middle-content-maintenance p{
    background: white;
    padding: 5px;
    width: 75%;
    margin: 0 auto;
}
#footer-maintenance{
    margin:0 auto;
	padding:5px 0;
	width:980px;
	background: white url(../images/bg_footer.jpg) no-repeat bottom right;
	text-align: left;
	color: #9898a6;
        height:50px;
        font-size: 11px;
}
#footer-maintenance a{
    color: #606070;
    text-decoration: none;
}
#footer-maintenance a:hover{
    text-decoration: underline;
}